# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Windows Binary's
*.exe
egloos-d*.pdb

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst